/* color palette from <https://github.com/vuejs/theme> */
:root {
  --primary: #998be3;
  --secondary: #C1C1C1;
  --tertiary: #FFF1FF;
  --text: #2C3D8D;
  --font: #FCF9E6;
  --yellow: #FED873;
}

/* semantic color variables for this project 
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}*/
/*
@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}
*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  transition: 0.2s ease;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: normal;
}
a:hover {
  filter: saturate(80%);
}

body {
  min-height: 100vh;
  color: var(--text);
  background: var(--font);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
