@import './base.css';

#app {
  max-width: 100%;
  margin: 0 auto;
  padding: 1.5rem;
  font-weight: normal;
}

/*----------------------------------*/
/*-------GENERAL------*/
body {
  background-image: url(../assets/identity/fontv3.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/*-------CONTENIDO------*/
.content-main {
  width: 100%;
  min-height: 100vh;
  background-color: rgba(255,255,255,0.5);
  border-radius: 25px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px 1px rgba(130,130,130,0.1);
}
.cursor-pointer {
  cursor:pointer;
}

/*-------LOGO------*/
.logo {
  display: flex;
  align-items:center;
  gap:10px;
}
.logo .text {
  font-family: 'Playfair Display';
  font-weight: 700;
  font-size: 18pt;
}
.logo img {
  width: 45px;
  height: 45px;
}

/*-------MENU------*/
.menu {
  width: 50%;
}
.menu ul,.menu-vertical ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin: 0;
  padding: 0;
  color: var(--primary);
  font-family: 'Belleza', sans-serif;
  font-size: 15pt;
  font-weight: 700;
}
.menu-vertical div{
  width: 100%;
  margin-top:10px;
  background-color: white;
  border-radius:25px;
  padding:20px;
}
.menu-vertical div ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*-------BOTONES------*/
button.button-outline,button.button-outline-g {
  border:2px solid var(--primary);
  border-radius: 50px;
  color: var(--primary);
  font-family: 'Belleza', sans-serif;
  font-weight: 700;
}
button.button-outline-g {
  padding: 8px 35px;
}
button.button-outline:hover,button.button-outline-g:hover {
  background-color: var(--primary);
  color: white;
}
button.button-primary {
  border:0;
  background-color: var(--primary);
  border-radius: 50px;
  color: white;
  font-family: 'Belleza', sans-serif;
  font-weight: 500;
  padding: 8px 35px;
}
button.button-primary:hover {
  box-shadow: 0 0 5px 3px rgba(150,150,150,0.5);
}
button.button-menu-primary {
  border:0;
  background-color: var(--primary);
  border-radius: 50px;
  color: white;
  font-size:15pt;
  padding: 8px 15px;
}
button.button-menu-primary:hover {
  background-color: var(--yellow);
  color: white;
}
button.button-menu-outline {
  border:2px solid var(--primary);
  border-radius: 50px;
  padding: 11px 15px;
  font-size:15pt;
  color: var(--primary);
}
button.button-menu-outline:hover {
  border:2px solid var(--yellow);
  background-color: var(--yellow);
  color: var(--primary);
}

/*-------TEXTO------*/
p {
  font-family: 'Bellota Text', cursive;
  font-weight: 600;
  line-height: 17pt;
  font-size:14pt;
}
strong {
  font-family: 'Belleza', sans-serif;
  font-size:15pt;
  font-weight: 800;
}
a {
  color: var(--primary);
}
.text-mute {
  color: rgb(175, 175, 175);
}
.display-title {
  font-family: 'Belleza', sans-serif;
  font-size:20pt;
  font-weight: 500;
  color: var(--primary);
}
.display-section {
  font-family: 'Bellota Text', cursive;
  font-weight: 700;
  font-size:40pt;
  padding:10px 0 22px;
  color: var(--primary);
}
.display-banner {
  font-family: 'Bellota Text', cursive;
  font-weight: 700;
  font-size:70pt;
  line-height: 65pt;
  padding:10px 0 22px;
}

/*---SWIPER SLIDER---*/

.slider {
  width: 100%;
  height: 700px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--swiper-theme-color);
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--swiper-theme-color);
  fill: none;
  stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}
.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: white;
  border: 3px solid var(--primary);
}
.swiper-pagination-bullet-active {
  background-color: var(--primary);
  border: 1px solid var(--primary);
  opacity:0.6;
}
.swiperHome {
  padding:3% 4%;
}
/*--slidecard--*/
.slide-card {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slide-card .content-text,
.slide-card .content-image {
  width: 50%;
}
.slide-card .content-image {
  height: 100%;
  padding:0 50px;
}
.slide-card .content-image div {
  background: rgb(207,239,251);
background: linear-gradient(0deg, rgba(207,239,251,0) 0%, rgba(207,239,251,0.34077380952380953) 36%, rgba(169,156,236,0.47522759103641454) 100%);
  border-radius: 500px 500px 0 0;
  width: 100%;
  height: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
}
.slide-card .content-image div img {
  width: 100%;
  height: auto;
}
.slide-card .content-text p {
  width: 80%;
}

/*----OBJETOS----*/

hr {
  height:1px;
  width: 100%;
  border-bottom:1px solid grey;
}

.spacer {
  width: 100%;
  padding:80px;
}

.card-primary,.card-secondary,.card-primary-ch {
  background-color: rgba(255,255,255,0.8);
  border-radius: 25px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px 1px rgba(130,130,130,0.2);
  padding:50px;
  display:flex;
  flex-direction:column;
  gap:10px;
  position: relative;
}
.card-primary-ch {
  padding:8px 0;
  width: 100%;
  margin: 8px 0;
}
.card-primary-ch.disabled {
  background-color: rgba(180,180,180,0.3);
  color: darkgrey;
  text-decoration: line-through;
}
.card-primary img {
  width: 100%;
  height: auto;
}
.card-secondary {
  padding:30px;
  text-align: left;
}
.card-secondary .img-post {
  width: 100%;
  height: 180px;
  position: absolute;
  top:0;
  left:0;
  border-radius: 25px 25px 0 0;
}
.card-secondary .img-post img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-fit: center center;
  border-radius: 25px 25px 0 0;
}
.card-secondary .img-post-text {
  padding-top: 180px;
}
.card-secondary .img-post-text p {
  font-size:12pt;
  line-height: 12pt;
}
.card-secondary .viewmore {
  display:flex;
  justify-content: center;
}
.card-secondary .title {
  padding:10px 0;
  font-weight: bold;
  display:flex;
}

.circle-box {
  background-color: var(--primary);
  color: var(--font);
  padding:2px 7px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display:flex;
  justify-content:center;
  align-items:center;
}
.circle-box:hover {
  background-color: var(--text);
}
/* INPUTS Y FORMS */
.input,.select,.textarea,.select option {
  border: 2px solid var(--primary);
  background-color:transparent;
  color: var(--primary);
  width:100%;
  padding:7px 15px;
  border-radius: 25px;
}
.input:focus,.select:focus,.textarea:focus  {
  border: 2px solid var(--secondary);
  outline: none;
}
.input::placeholder,.select::placeholder,.textarea::placeholder {
  color: var(--primary);
  font-size: 1rem;
}

.checkbox:checked {
     background-color: var(--primary);
     border-color: var(--primary);
}
.checkbox:focus {
  border: 1px solid var(--primary);
}
.checkbox:focus, .checkbox, input:focus {
  outline:none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}


/*Special class*/
.hidden {
  transform: translateY(-100%);
  transition: transform 0.5s ease-out;
}

/*testimonial*/

.testimonial-card p{
  color:var(--primary);
}
.testimonial-card span {
  display: flex;
  justify-content: center;
  align-items:center;
  gap:10px;
}
.testimonial-card .fa-circle {
  font-size: 5pt;
}

/*accordion*/
.accordion .card {
  border:0;
  background-color: inherit;
}
.accordion .card .card-header {
  background-color: rgba(255,255,255,0.5);
  border: 2px solid var(--primary);
  border-radius: 25px;
  color: var(--primary);
}
.accordion .card a,.accordion .card a:active,.accordion .card a:focus {
  border:0;
}
  .form-contact form {
    width:50%;
  }

/*-----------------------------------*/
/*------------RESPONSIVE-------------*/
/*-----------------------------------*/

@media (max-width: 1440px){ /* laptop */
  .display-title {
    font-size:18pt;
  }
  .display-section {
    font-size:30pt;
  }
  .display-banner {
    font-size:50pt;
    line-height: 45pt;
  }
  .swiperHome {
    padding:3% 0 0;
  }

}

@media (max-width: 1024px){ /* laptop */
  .display-title {
    font-size:15pt;
  }
  .display-section {
    font-size:25pt;
  }
  .display-banner {
    font-size:40pt;
    line-height: 35pt;
  }
 .slide-card .content-image {
    display:flex;
    justify-content: center;
    align-items:center;
  }
  .slide-card .content-image {
    padding:0;
  }
    .form-contact form {
    width:100%;
  }

}

@media (max-width: 760px){ /* tablet CH Mobile G */
  .slider {
    width: 100%;
    height: 100%;
  }
  .slide-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:50px;
    padding-top:4%;
  }
  .slide-card .content-text,
  .slide-card .content-image {
    width: 100%;
  }
  .slide-card .content-image {
    height: 100%;
    padding:0 0 25px;
  }
  .slide-card .content-text p {
    width: 100%;
  }
  .slide-card .content-text div {
    text-align:right;
  }
  body {
    background-image: url(../assets/identity/fontv3_mobile.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  .spacer {
    width: 100%;
    padding:50px;
  }
}

@media (max-width: 500px){ /* Celulares */
  #app {
    padding: 0.5rem;
  }
  .slide-card .content-text div {
    text-align:center;
  }
  .display-title {
    font-size:14pt;
  }
  .display-section {
    font-size:25pt;
    line-height: 18pt;
  }
  .display-banner {
    font-size:25pt;
    line-height: 25pt;
  }
  .slide-card .content-image {
    height: 100%;
    padding:0 0 28px;
  }
  button.button-menu-primary {
    font-size:13pt;
    padding: 8px 12px;
  }
  button.button-menu-outline {
    padding: 11px 12px;
    font-size:12pt;
  }
  .card-primary {
    padding:20px;
    gap:10px;
  }
  p {
    line-height: 14pt;
    font-size:12pt;
  }
  
}